@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Norse';
    src: 
    url('../fonts/norsebold.woff2') format('woff2'),
    url('../fonts/norsebold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #000500; 
    --text-color: #f8f9fa;
    --focus-color: #6B7FD7;
    --icon-color: #69353F;

    --title-font: 'Norse', fantasy;

    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

header {
    padding: 8px;
    font-family: var(--title-font);

    display: flex;
    align-items: center;

    background-color: var(--bg-color);

    border-bottom: 4px solid var(--text-color);
}

header svg {
    height: 5rem;
    fill: var(--text-color);
}

header h1 {
    font-size: 4rem;
    margin-right: auto;
    margin-left: 8px;
}

header button {
    background: none;
    border: none;

    font-family: inherit;
    font-size: 2.5rem;
    color: var(--text-color);
}
header button:hover {
    color: var(--focus-color);
}

header button:active {
    filter: brightness(85%);
}

header nav {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

.hero {
    background: url(../img/bg/home.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.hero div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    padding-left: 3rem;
    font-size: 5rem;
    font-family: var(--title-font)
}

.hero p {
    max-width: 70ch;

    font-size: 1.2rem;
    font-style: italic;

    padding-left: 5rem;
    padding-top: 0.5rem;
}

.info {
    height: 90vh;
    background-color: var(--text-color);
    color: var(--bg-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 3rem;

    padding: 3rem 0;
}

.info h1 {
    grid-column: 1 / 3;

    font-family: var(--title-font);
    font-size: 4rem;
}

.info h2 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    color: var(--bg-color);
}

.info p {
    max-width: 40ch;
    padding-left: 3rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.info svg {
    height: 3rem;
    fill: var(--bg-color);
}

.title {
    display: flex;
    align-items: center;
}

footer {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
